@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.gradient-main {
  background: linear-gradient(180deg, #ffffff 0%, #d2a5ed 100%);
}
.insta-card {
  background: linear-gradient(
    80.51deg,
    #c63d58 56.43%,
    rgba(37, 37, 37, 0) 87.77%
  );
}
.linkedin-card {
  background: linear-gradient(
    80.51deg,
    #252525 56.43%,
    rgba(37, 37, 37, 0) 87.77%
  );
}
.whatsapp-card {
  background: linear-gradient(
    80.51deg,
    #05b547 56.43%,
    rgba(37, 37, 37, 0) 87.77%
  );
}
.telegram-card {
  background: linear-gradient(
    80.51deg,
    #0088cc 56.43%,
    rgba(37, 37, 37, 0) 87.77%
  );
}
